.leaderboard {
  margin-left: 20px;
}

.count {
  font-size: 20px;
}

.food-num {
  font-size: 15px;
}    

.food-name {
  line-height: 50px;
} 

.logo {
  height: 63px;
  margin-left: 34px;
}

.navbar {
  margin-bottom: 30px;
}

.graphBtn {
  margin-right: 30px;
}

.modal {
  min-height: 550px;
}

.actionBtn {
  margin-right: 30px !important;
}

.progress {
  margin: 0px !important;
}

.poll {
  margin-right: 34px;
}
