
<!DOCTYPE html>
<html lang="en" class="light-blue accent-1">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Food Raccoon</title>
  
  <link href="data:image/x-icon;base64,AAABAAEAEBACAAAAAACwAAAAFgAAACgAAAAQAAAAIAAAAAEAAQAAAAAAQAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AD4AAAAiAAAAIgAAACIAAAAiAAAAI/AAACAQAAAgEAAAIBAAACPwAAAiAAAAI/gAACAIAAAgCAAAIAgAAD/4AADB/wAAwf8AAMH/AADB/wAAwf8AAMAPAADADwAAwA8AAMAPAADADwAAwf8AAMAHAADABwAAwAcAAMAHAADABwAA" rel="icon" type="image/x-icon" />
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/node_modules/materialize-css/dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <div id="app">
      <div class="progress orange lighten-4 navProgressBar">
        <div class="indeterminate orange lighten-2"></div>
      </div>
      <!--<nav class="white navbar" role="navigation">-->
      <!--  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo center"><img class="logo" src="https://i.imgur.com/pRi7lTT.png"></a></div>-->
      <!--</nav>-->
      
      <nav class="top-nav white navbar">
          <div class="nav-wrapper">
            <a class="page-title" href="/">
              <img class="logo" src="https://i.imgur.com/pRi7lTT.png">
            </a>
            <ul class="right hide-on-med-and-down">
              <li>
                <a class="poll" href="https://goo.gl/forms/0HhjtvXNyBDF1Rl72" target="_blank">
                  <i class="material-icons black-text right-align">poll</i>
                </a>
              </li>
            </ul>
          </div>
      </nav>
      
      <div>
        <div class="row">
          <div class="col s4">
            <div class="left-align leaderboard">
              <div class="row">
                <div class="col s12">
                  <div class="card-panel orange lighten-2">
                    <h4 class="left-align white-text">Most Wasted Food</h4>
                    <div class="collection" v-for="(food, index) in foods">
                      <a class="collection-item black-text">
                        <span class="badge black-text tooltipped" data-position="top" data-delay="50" data-tooltip="Number of Images"><b>{{ food[1]}}</b></span>
                        <b>{{ food[0] }}</b>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col s4">
            <div class="row">
              <div class="col s12">
                <div class="card-panel green lighten-2">
                  <h4 class="left-align white-text">Best Sentiment Schools</h4>
                  <ul class="collection" v-for="(goodSchool, index) in goodSchools">
                    <li class="collection-item">
                      <div>
                        <b>{{goodSchools[index]}}</b>
                        <a href="http://www.topix.com/forum/city/dunlap-tn/TVJKIRS0HPOJKC64M/school-food" target="_blank" class="secondary-content tooltipped" data-position="top" data-delay="50" data-tooltip="Go to Forum">
                          <i class="material-icons black-text">forum</i>
                        </a>
                        <a :href="'#goodModal' + index" class="secondary-content modal-trigger tooltipped graphBtn" data-position="top" data-delay="50" data-tooltip="Open Sentiment Chart">
                          <i class="material-icons black-text">show_chart</i>
                        </a>
                      </div>
                    </li>
                    <div :id="'goodModal' + index" class="modal">
                      <div class="modal-content">
                        <h2 class="center-align">{{goodSchools[index]}}</h2>
                        <canvas :id="'goodGraph' + index"></canvas>
                      </div>
                      <div class="modal-footer">
                        <a href="http://www.topix.com/forum/city/dunlap-tn/TVJKIRS0HPOJKC64M/school-food" target="_blank" class="modal-action waves-effect waves-gray btn actionBtn green lighten-2">Go To Forum</a>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col s4">
            <div class="row">
              <div class="col s12">
                <div class="card-panel red accent-1">
                  <h4 class="white-text left-align">Worst Sentiment Schools</h4>
                  <ul class="collection" v-for="(badSchool, index) in badSchools">
                    <li class="collection-item">
                      <div>
                        <b>{{badSchools[index]}}</b>
                        <a href="http://www.topix.com/forum/city/dunlap-tn/TVJKIRS0HPOJKC64M/school-food" target="_blank" class="secondary-content tooltipped" data-position="top" data-delay="50" data-tooltip="Go to Forum">
                          <i class="material-icons black-text">forum</i>
                        </a>
                        <a :href="'#badModal' + index" class="secondary-content modal-trigger tooltipped graphBtn" data-position="top" data-delay="50" data-tooltip="Open Sentiment Chart">
                          <i class="material-icons black-text">show_chart</i>
                        </a>
                      </div>
                    </li>
                    <div :id="'badModal' + index" class="modal">
                      <div class="modal-content">
                        <h2 class="center-align">{{badSchools[index]}}</h2>
                        <canvas :id="'badGraph' + index"></canvas>
                      </div>
                      <div class="modal-footer">
                        <a href="http://www.topix.com/forum/city/dunlap-tn/TVJKIRS0HPOJKC64M/school-food" target="_blank" class="modal-action waves-effect waves-gray btn actionBtn red accent-1">Go To Forum</a>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js" integrity="sha256-h0cGsrExGgcZtSZ/fRz4AwV+Nn6Urh/3v3jFRQ0w9dQ=" crossorigin="anonymous"></script>
      <script src="/node_modules/materialize-css/dist/js/materialize.min.js"></script>
      <script src="/node_modules/vue/dist/vue.min.js"></script>
      <script src="/node_modules/chart.js/dist/Chart.min.js"></script>
      <script>
        setTimeout(function(){ 
          
          var app = new Vue({
          el: '#app',
          data: {
            foods: [['Bread', 15], ['Milk', 12], ['Potatoes', 11], ['Cheese', '9'], ['Apples', '9'], ['Celery', '7']],
            goodSchools: ['American High School', 'Warwick Elementary School', 'Thornton Junior High School', 'Laurel Hill School', 'Griffith Middle School', 'Robert E. Lee High School', 'Vang Pao Elementary School'],
            badSchools: ['Ontario High School', 'St. John Bosco High School', 'Saranac High School', 'Clinton High School', 'Sandusky High School', 'Belmont High School', 'Colon High School'],
            goodSentiments: [[20, 15, 40, 46, 49, 55, 70, 83, 89, 87, 90, 95]],
            badSentiments: [[10, 12, 23, 27, 30, 34, 37, 38, 43, 44, 52, 57]]
          },
          created(){
            for (var i = 0; i < 6; i++) {
            this.goodSentiments.push(Array.from({length: 12}, () => (Math.floor(Math.random() * 91) + 10)));
            }
            for (var z = 0; z < 6; z++) {
              this.badSentiments.push(Array.from({length: 12}, () => (Math.floor(Math.random() * 91) + 10)));
            }
          }, 
          mounted(){
            console.log("UPDATED", this.goodSentiments);
            $('.modal').modal();
            $('.tooltipped').tooltip({delay: 50});
            $('.navProgressBar').hide();
            for (var d = 0; d < 7; d++) {
              var ctx = document.getElementById('goodGraph' + d).getContext('2d');
              var sentimentChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: [ "January", "February", "March", "April", "May", "June",
              "July", "August", "September", "October", "November", "December" ],
                  datasets: [{
                    label: 'Sentiment',
                    data: this.goodSentiments[d],
                    backgroundColor: "#a5d6a7",
                    borderColor: "#4caf50"
                  }]
                },
                options: {
                  scales: {
                    xAxes: [{
                      gridLines: {
                        drawOnChartArea: false
                      }
                    }],
                    yAxes: [{
                      gridLines: {
                        drawOnChartArea: false
                      }
                    }]
                  }
                }
              });
            }
            for (var v = 0; v < 7; v++) {
              var ctx = document.getElementById('badGraph' + v).getContext('2d');
              var sentimentChart = new Chart(ctx, {
                type: 'line',
                data: {
                  labels: [ "January", "February", "March", "April", "May", "June",
              "July", "August", "September", "October", "November", "December" ],
                  datasets: [{
                    label: 'Sentiment',
                    data: this.badSentiments[v],
                    backgroundColor: "#ef9a9a",
                    borderColor: "#f44336"
                  }]
                },
                options: {
                  scales: {
                    xAxes: [{
                      gridLines: {
                        drawOnChartArea: false
                      }
                    }],
                    yAxes: [{
                      gridLines: {
                        drawOnChartArea: false
                      }
                    }]
                  }
                }
              });
            }
          }
        });
          
        }, 500);
        
      </script>
    </div>
  </body>
</html>
